<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XTsplit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0ABE46361D85ABD7007DD94F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ABE464A1D85ABD7007DD94F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ABE46551D85ABD7007DD94F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
